{% extends 'components/base.html' %}

{% block title %}Home{% endblock %}

{% block head %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/fixed_button.css' %}">
{% endblock %}

{% block content %}
    <h1>Home</h1>
    <p>Welcome to Anime Sama Converter!</p>
    <form>
        <div class="row row-cols-1 row-cols-md-6 g-4">
            {% for anime, values in animes.items %}
                {% include 'components/anime_card.html' with title=anime values=values %}
            {% endfor %}
        </div>
    
        <a id="fixedbutton" class="btn btn-primary" href="">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" stroke="currentColor" viewBox="0 0 16 16">
                <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5"/>
                <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708z"/>
            </svg>
        </a>
    </form>

{% endblock %}